# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sschw\Lernfeld 5 Baustelle\Lernsituationen\04 Die Welt von Zuul\Die Welt von Zuul\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
